@import "global.css";
.header-container{
  height: 62px;
  background: #e9ebef;
  display: flex;
  flex-flow: row;
  align-items: center;
  box-shadow: 0 2px 8px #dad6d6;
}

.user-avatar{
  border-radius: 100px;
  width: 40px;
  height: 40px;
  right: 7%;
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.user-avatar:hover{
  border: 1px solid white;
}

.project-card{
  width: 234px;
  margin: 14px 14px;
}

.project-card-container{
  display:flex;
  flex-wrap:wrap;
  min-height: 140px;
}

:global(.ant-collapse-content-box){
  padding:0 !important;
  padding-bottom: 12px !important;
  padding-right: 14px !important;
}
:global(.ant-collapse-content.ant-collapse-content-active){
  padding:0 !important;
}
