@import "global.css";

.own-avatar{
  border-radius: 100px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
  margin-left: 8px;
  position: absolute;
}

.user-item-container{
  width:270px;
  height:52px;
  background:#f5f5f5e6;;
  display: flex;
  border-bottom:1px solid #3333;
}

:global(.ant-pagination-item-link){
  background: #f5f5f5 !important;
}

:global(.ant-calendar-picker){
  width:100%;
}
